<form action = "/employees/<%=@employee.id%>" method = "POST">
<input id = "hidden" type = 'hidden' name = "_method" value = "patch"/>
<label for = "first_name">First Name</label>
<input id = "first_name" type = "text" name = 'first_name' value = "<%=@employee.first_name%>"/>
<label for = "last_name">Last Name</label>
<input id = "last_name" type = "text" name = 'last_name' value = "<%=@employee.last_name %>"/>
<label for = "alias">Alias</label>
<input id = "alias" type = "text" name = 'alias' value = "<%=@employee.alias%>"/>
<label for = "title">Title</label>
<input id = "title" type = "text" name = 'title' value = "<%=@employee.title%>"/>
<label for = "office">Office</label> 
<input id = "office" type = "text" name = 'office' value = "<%=@employee.office %>"/>
<label for = "url">IMG url</label>
<input id = "url" type = "text" name = "url"/>
<select name = "idd">
    <%@dogs.each do |dog|%>
     <option value = "<%=dog.id%>"><%=dog.name%></option>
     <%end%>
</select>
<input type = "submit" value = "Submit"/>
</form>