<head>
    <title>Employees</title>
    <style>
    
    </style>
</head>
<h1><%=@employee.first_name%> <%@employee.last_name%></h1>
<h3><%=@employee.alias%></h3>
<h3><%=@employee.title%></h3>
<h3><%=@employee.office%></h3>
<h3><%=@employee.dog%></h3>

<div><img src =<%=@employee.img_url %> height = 250px width = 250px></div>




